.test_container {
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.test_text {
  font-size: 45px;
  font-weight: 700;
  margin-top: 50px;
}
.test_img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: 4px solid black;
}
.test_desc {
  background-color: black;
  height: 170px;
  width: 900px;
  color: white;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.test_desc span {
  width: 750px;
  font-size: 18px;
}
.test_name {
  font-size: 25px;
  font-weight: 600;
}
